

.shopBy{
    width: 800px;
  
    background-color: color;
    border: 1px solid black;
    position: absolute;
    gap: 3px;
    left: 50%;
    right: 50%;
    top: 14.4em;
    transform: translate(-50%, -50%);
    display: none;
  
}


.sec1{
    width: 400px;
 

}

.sec2{
    width: 400px;
  

}





.sec2Main ul, .sec1Main ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    font-size: 1.2rem;
    cursor: pointer;
}



.dropShow{
    display: flex;
    height: 300px; 
    background-color: white;

    transition: max-height 0.3s ease-in;
    
}


@media (max-width:830px){
    .shopBy{
        display: none;
    }
      
}


