

.shopBy{

    border: 1px solid black;
    width: 800px;
    height: 200px;

    position: absolute;
    gap: 3px;
    left: 50%;
    right: 50%;
    top: 11.5em;
    transform: translate(-50%, -50%);
    display: none;
}


.sec1{
    width: 50%;
    border: 1px solid orange;

}

.sec2{
    width: 50%;
    border: 1px solid orange;

}



.sec2Main, .sec1Main{
    border: 1px solid black;
 
}

.sec2Main ul, .sec1Main ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    font-size: 1.2rem;
}



.dropShow{
    display: flex;
    max-height: 500px; /* Adjust the maximum height as needed */
    transition: max-height 0.3s ease-in;
    
}

