  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 0 auto;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  

  #fashion-type {
    width: 108%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    border-radius: 4px;
  }
