
.productImage{

    position: relative;
    width: 220px;
    height: 150px;
   
}
.productItem{
    position: relative;

    width: 220px;
    height: 180px;
   
}

.description{

   display: flex;
  justify-content: space-between;
}

.addProduct{
    cursor: pointer;
    position: absolute;
  
    top: 6em;
    left: 3em;
   font-size: 1.2rem;
   padding: 2px;
   background-color:darkblue;
   border: none;
   color: white;
   border-radius: 1px;
}