
.productItem{
   
    position: relative;
    width: 100% ;
    border: 1px solid black;
    height: 370px;
    box-sizing: border-box;
}


.divImage{
   width: 100%;
height: 75%;
}

.productImage {
width: 100%;
max-height: 280px;
}
.description{
 
    display: block;
    justify-content: space-between;
    height: 25%;
    border-top: 1px solid black;
}

.description h4{
    font-size: 1rem;
}

.heartEmoji{
    cursor: pointer;
    position: absolute;
    top: 0em;
    right: 0;
    width: 30px;
   
}


@media (max-width:947px){
    .productItem{
        width: 100%;
    }
}