.catagoriesContent{
  margin-top: 2.3em;
  
  width: 80%;

  display: grid;
  grid-template-columns: repeat(4,1fr);

  gap: 10px;
  height: fit-content;

}

.ParentDiv{
  
    display: flex;
    gap: 60px;
    width: 98%;
 
    
  }

.AllFilterContainer{
 
    margin-top: 2.3em;
  width: 20%;
  }

  .topSub{
    width: 100%;
    
    
      display: flex;
      flex-direction: column;
      padding-bottom:2em ;
      
      border-top: 1px solid black;
  }
  .topTitles{
    margin-bottom: 0.4em;
    margin-top: 0.2em;

  }
  
  .catagoriesSelection ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  font-size: 1.13rem;
  gap: 20px;
  cursor: pointer;
  }
  .selectedCatagory {
    display: inline-block;
    border-bottom: 2px solid darkred;
    width: fit-content;
    transition: border-bottom-color 0.3s ease-in-out; 
    color: darkRed;
  
  }

  
  .FilterSection{
    width: 100%;
   
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom:2em ;
   
  
    
  
  }
  .inputSearchField{
  
    position: relative;
   width: 100%;
  }
  .searchImg{
    position: absolute;
    top: 1em;
    left: 0.5em;
  }
  .inputSearchField input{
    width: 98%;
  
  text-align: center;
  margin-top: 0.6em;
  height: 34px;
  }
 
.btnFilterSmallScreen{
  display: none;
}
.viewItemBtnDiv{
display: none;
}
 

.bottomContainer {
      width: 100%;
    
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid black;
      border-top: 1px solid black;
      padding-top:2em ;
      padding-bottom:2em ;
    
    }
    
    .BrandSelection {
  
      display: flex;
      align-items: center;
      padding: 8px;
  
      font-size: 1.13rem;
    }
    
    .brandsLabel {
      display: flex;
      align-items: center;
      width: 100%;
      cursor: pointer;
    }
    
    .brandsLabel input[type='checkbox'] {
      cursor: pointer;
      margin-right: 8px;
      margin-top: 8px;
      width: 20px; 
      height: 20px;
    }
  
  
    .BrandTitle{
      font-size: 1.2rem;
      font-weight: bold;
      margin-left: 0.4em;
    }
  /*  Colors section*/
  
  .colorsIcon {
      width: 34px;
      height: 30px;
      border-radius: 30px;
      cursor: pointer;
      margin-right: 0.5em;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  
    /* Keep the rest of your styling as needed */
    
  
  .active {
    background-color: #1e293b;
   color: white;
  }


  @media (max-width: 1200px){

    .catagoriesContent{
      grid-template-columns: repeat(3,1fr)
    }
  }



  @media (max-width:1157px){
    .ParentDiv{
   
      flex-direction: column;
      width: 99%;
      margin: 0 auto;
      gap: 0;
    }
    .filtertitle{
      display: none;
    }
    .AllFilterContainer{
      width: 100%;
    }

    .catagoriesContent{
     margin: 0;
      width: 100%;
  
      grid-template-columns: repeat(4,1fr);
    
    }

    .FilterSection{
      position: relative;
     margin: 0;

    }

    .btnFilterSmallScreen{
      display: block;
      border: 1px solid black;
      cursor: pointer;
      position: absolute;
      width: 120px;
      height: 30px;
      background-color: white;
      font-size: 1.4rem;
      color: black;
      bottom: 0;
    }
.viewItemBtnDiv{
  display: flex;
  background-color: white;

  border: 1px solid black;
  align-items: center;
  justify-content: center;
  position: sticky;
  bottom: 0px;
  
}
.viewAllItemsBtn{
      border: 1px solid black;
      cursor: pointer;
      text-align: center;
      width: 220px;
      height: 40px;
      background-color: black;
      font-size: 1.4rem;
      color:  white;
    }
    .topContainer{
      position: absolute;
      z-index: 3;
      background-color: white;
      width: 300px;
      height: 620px;
      overflow: scroll;
      border: 2px solid black;
    }

    .closeFilter {
      display: none;
    }

    .topSub{
     width: 100%;
     margin: 0;
    
  

    }
    .bottomContainer {

      width: 100%;
      margin: 0;

    }

  }

  @media (max-width:830px){
    .catagoriesContent{
      grid-template-columns: repeat(3,1fr);
    }
  }

  @media (max-width:530px){ 
    .catagoriesContent{
      grid-template-columns: repeat(2,1fr);
    }
   }

  @media (max-width:500px){
    .ParentDiv{
      position: relative;
    }
    .topContainer{
  
    
   
      width: 99%;
    }
  }



  @media (min-height:800px){

    .topContainer{
  
    
      height: 600px;
      
    }
  }


  @media (min-height:500px) and (max-height: 799px){

    .topContainer{
  
    
      height: 480px;
      
    }
  }
  
