.navbar{
    border: 1px solid red;
    width: 100%;
 
}


/* Styling for top navigation bar*/
.navTop{
    border: 1px solid black;
    width: 95%;
    margin: 0 auto;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile, .Logo, .Cart {
    border: 1px solid green;
    cursor: pointer;
}


/* Image optimization for top navbar*/
.profile img {
    width: 40px;
}

.Logo img {
    width: 250px;
}

.Cart img {
    width: 40px;
}


/* Styling bottom navbar */

.navBottom{
    
    width: 95%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
   
}

.navLinks ul{
    display: flex;
    gap: 40px;
    list-style: none;
}

.navLinks ul li a {
    color: black;
    font-size: 1.2rem;
    text-decoration: none;
}




/* For close and open buttons*/


.closeMenu, .openMenu{
    width: 34px;

}

.closeMenu{
    display: none;
}


.openMenu{
    display: none;
}



@media (max-width:830px) {
  
.navTop{
    width: 100%;
}


  

    .openMenu{
        cursor: pointer;
        position: absolute;
        display: block;
        right: 0%;
    }
    .closeMenu{
        cursor: pointer;
        position: absolute;
        display: block;
        right: 10em;
    }
    .navLinkShow{
     display: none;
    }
    .navLinks{
        z-index: 2;
        position: absolute;
        background-color: cyan;
        width: 200px;
        
        right: -0.6%;
    }

    .navLinks ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        gap: 20px;
        height: 350px;   
    }


 
    
}











