  .SignIncontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 0 auto;
  }
  .SignIncontainer  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  .SignIncontainer button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
