.container {
  display: flex;
 
border: 1px solid black;
  width: 80%;
  height: 600px;
  margin: 0 auto;
  margin-top: 2em;
}






.divHeader{
  background-color: #dbdbdb;
}



.itemImage {
 
  width: 50%;
  height: 100%;
  border-right: 1px solid black ;
}
.itemImage img {
  width: 100%;
 
  max-height: 600px;
}

.itemClass {
 
  width: 50%;
  padding: 5px;
}


.itemClass p{
  font-size: 18px;
}

.itemClass h1 {
  font-family: 'Abel', sans-serif;
  font-size: 40px;

}

.itemClass h4{
  font-family: 'Cormorant Garamond', serif;
  font-size: 21.5px;

}



  .sizeGroup button {
    background-color: white; 
    border: 1px solid black; 
    color: black; 
    padding: 10px 24px; 
    cursor: pointer;

    float: left;  
   
  }
  

  .sizeGroup:after {
    content: "";
    clear: both;
    display: table;
  }
  

  .sizeGroup button:hover {
    background-color: black;
  }

.sizeGroup button:hover,
.sizeGroup button:focus,
.sizeGroup button:active {
      cursor: pointer;
      background-color: black;
      color: white;
    }

.addItemToWishList ,.addItemTocart{

cursor: pointer;
height: 40px;
width: 220px;
font-size: 1.3rem;
background-color: black;
color: white;
border: none;
text-align: center;

}

.itembtns{

margin-top: 1.5em;
display:flex ;
gap: 10px;
}


@media (max-width: 1000px){
  .itembtns{
  flex-direction: column;
  }
}

