.container {
  display: flex;
 
border: 1px solid black;
  width: 80%;
  height: fit-content;
  margin: 0 auto;
  margin-top: 2em;
}




.divHeader{
  background-color: #dbdbdb;

}



.itemImage {
 
  width: 50%;
  height: 100%;
  border-right: 1px solid black ;
}
.itemImage img {
  width: 100%;
 
  height: 100%;
  max-height: 600px;
}

.itemClass {
 
  width: 50%;
  padding: 5px;
}


.itemClass p{
  font-size: 18px;
}

.itemClass h1 {
  font-family: 'Abel', sans-serif;
  font-size: 40px;

}

.itemClass h4{
  font-family: 'Cormorant Garamond', serif;
  font-size: 21.5px;

}



  .sizeGroup button {
 
    padding: 10px 24px; 
   border: 1px solid black;
   cursor: pointer;
  }
  .sizebtn{
    background-color: white;
    color: black;
   
  }
  .selectedSizebtn{
    cursor: pointer;
    background-color: black;
    color: white;
  }
  

  .sizeGroup:after {
    content: "";
    clear: both;
    display: table;
  }
  

  /*.sizeGroup button:hover {
    background-color: black;
  }
*/

.addItemToWishList ,.addItemTocart{

cursor: pointer;
height: 40px;
width: 220px;
font-size: 1.3rem;
background-color: black;
color: white;
border: none;
text-align: center;

}

.itembtns{

margin-top: 1.5em;
display:flex ;
gap: 10px;
}

.itemclassName{

  padding: 0px 15px 5px 15px;
}


@media (max-width: 1000px){
  .itembtns{
  flex-direction: column;
  }
}

@media (max-width: 700px){
  .container {
    flex-direction: column;
    width: 86%;
  }
  .itemImage {
    width: 100%;
    height: 400px;
  }


  .itemclassName{
    border-top: 1px solid black;
    padding: 0;
    padding-bottom: 1px;
    width: 100%;
   
  }

  .itembtns{
   flex-direction: row;
   justify-content: center;
  }
}

@media (max-width: 517px){
  .itembtns{
    border: 1px solid black;
    flex-direction: column;
   
   }

   .itembtns button{
    width: 100%;
   }
}
