.bag-div {
  align-items: flex-start;
  background-color: #ffffff;
  border: 1px none;
  display: flex;
  height: 464px;
  min-width: 1280px;
  padding: 20px 30px 0px;
  position: relative;
  width: 100%;
}

.bag-div .div-s-row {
  align-items: flex-start;
  display: flex;
  margin-bottom: -7.09px;
  position: relative;
  width: 1135px;
}

.bag-div .div-s-column {
  height: 1px;
  position: relative;
  width: 79px;
}

.bag-div .div-cart-items-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 633.89px;
}

.bag-div .div-cart-items {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 9.95px;
  padding: 7.36px 0px 0px;
  position: relative;
  width: 633.89px;
}

.bag-div .text-wrapper {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.09px;
  line-height: 15px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.bag-div .div-cart-items-table {
  height: 418.78px;
  position: relative;
  width: 633.89px;
}

.bag-div .div {
  align-items: flex-start;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #b6b6b6;
  display: flex;
  height: 26px;
  left: 0;
  padding: 0px 0px 1px;
  position: absolute;
  top: 0;
  width: 634px;
}

.bag-div .item-wrapper {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  padding: 0px 353.42px 10px 95px;
  position: relative;
  width: 475.42px;
}

.bag-div .item {
  color: #888888;
  font-family: "Inter-Regular", Helvetica;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.09px;
  line-height: 15px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.bag-div .total-wrapper {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  justify-content: flex-end;
  padding: 0px 0.67px 10px 125.8px;
  position: relative;
  width: 158.47px;
}

.bag-div .total {
  color: #888888;
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.09px;
  line-height: 15px;
  margin-top: -1px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.bag-div .list {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 26px;
  width: 634px;
}

.bag-div .item-2 {
  align-items: flex-start;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #b6b6b6;
  display: flex;
  flex: 0 0 auto;
  padding: 20px 1.53e-5px 21px 0px;
  position: relative;
  width: 633.89px;
}

.bag-div .div-s-column-2 {
  align-items: flex-start;
  display: flex;
  gap: 20px;
  padding: 0px 77.92px 0px 0px;
  position: relative;
  width: 396.19px;
}

.bag-div .converse-black-jack {
  background-image: url(./converse-black-jack-purcell-first-in-class-ox-sneakers-jpg.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 112.89px;
  max-width: 75px;
  position: relative;
  width: 75px;
}

.bag-div .div-cart-item {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 42.89px;
  position: relative;
}

.bag-div .div-hd-ebbf {
  height: 55px;
  position: relative;
  width: 223.27px;
}

.bag-div .link-converse {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 11px;
  font-weight: 400;
  height: 15px;
  left: 0;
  letter-spacing: 0.09px;
  line-height: 15px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.bag-div .p {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 15px;
  left: 0;
  letter-spacing: 0.09px;
  line-height: 15px;
  position: absolute;
  top: 14px;
  white-space: nowrap;
}

.bag-div .link-wrapper {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  left: 0;
  padding: 0px 165.67px 0px 0px;
  position: absolute;
  top: 35px;
  width: 335px;
}

.bag-div .link {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 5px;
  position: relative;
}

.bag-div .span-s-text {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  padding: 0px 2.41px 0px 0px;
  position: relative;
}

.bag-div .div-cart-item-edit {
  flex: 0 0 auto;
  position: relative;
}

.bag-div .link-move-to-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  padding: 0px 144.27px 0px 0px;
  position: relative;
}

.bag-div .link-move-to {
  align-self: stretch;
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.09px;
  line-height: 15px;
  margin-top: -1px;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: fit-content;
}

.bag-div .div-s-column-3 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 0px 0px 175.25px;
  position: relative;
  width: 237.7px;
}

.bag-div .div-cart-item-price {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: flex-end;
  padding: 0px 0.45px 0px 3px;
  position: relative;
}

.bag-div .text-wrapper-2 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.09px;
  line-height: 15px;
  margin-top: -1px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.bag-div .div-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  padding: 0px 1.95px 0px 0px;
  position: relative;
}

.bag-div .text-wrapper-3 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.09px;
  line-height: 15px;
  margin-top: -1px;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: fit-content;
}

.bag-div .div-s-column-4 {
  align-items: flex-start;
  display: flex;
  gap: 20px;
  padding: 0px 116.94px 0px 0px;
  position: relative;
  width: 396.19px;
}

.bag-div .converse-white-chuck {
  background-image: url(./converse-white-chuck-taylor-all-star-sneakers-jpg.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 112.89px;
  max-width: 75px;
  position: relative;
  width: 75px;
}

.bag-div .div-hd-a {
  height: 55px;
  position: relative;
  width: 184.25px;
}

.bag-div .div-s-row-2 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  left: 0;
  padding: 0px 115.85px 0px 0px;
  position: absolute;
  top: 35px;
  width: 276px;
}

.bag-div .size-US-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  padding: 0px 2.72px 0px 0px;
  position: relative;
}

.bag-div .div-s-row-3 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  padding: 0px 105.25px 0px 0px;
  position: relative;
}

.bag-div .div-s-column-5 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 0px 0px 176.16px;
  position: relative;
  width: 237.7px;
}

.bag-div .div-cart-item-price-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: flex-end;
  margin-left: -0.01px;
  padding: 0px 0.55px 0px 3px;
  position: relative;
}

.bag-div .div-cart-items-total {
  height: 65px;
  left: 0;
  position: absolute;
  top: 354px;
  width: 634px;
}

.bag-div .div-s-row-4 {
  align-items: flex-start;
  display: flex;
  left: 0;
  padding: 0px 1.53e-5px 0px 0px;
  position: absolute;
  top: 0;
  width: 634px;
}

.bag-div .div-s-column-6 {
  align-items: flex-start;
  display: flex;
  padding: 0px 293.03px 0px 95px;
  position: relative;
  width: 412.03px;
}

.bag-div .div-s-column-7 {
  align-items: flex-start;
  display: flex;
  justify-content: flex-end;
  padding: 0px 0.11px 0px 157.75px;
  position: relative;
  width: 221.86px;
}

.bag-div .div-shipping {
  align-items: flex-start;
  display: flex;
  left: 0;
  padding: 0px 1.53e-5px 0px 0px;
  position: absolute;
  top: 15px;
  width: 634px;
}

.bag-div .div-s-column-8 {
  align-items: flex-start;
  display: flex;
  padding: 0px 230.03px 0px 95px;
  position: relative;
  width: 412.03px;
}

.bag-div .div-s-column-9 {
  align-items: flex-start;
  display: flex;
  justify-content: flex-end;
  padding: 0px 0px 0px 108.96px;
  position: relative;
  width: 221.86px;
}

.bag-div .text-wrapper-4 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.09px;
  line-height: 15px;
  margin-left: -0.1px;
  margin-top: -1px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.bag-div .div-s-row-5 {
  align-items: flex-start;
  display: flex;
  left: 0;
  padding: 0px 1.53e-5px 0px 0px;
  position: absolute;
  top: 30px;
  width: 634px;
}

.bag-div .div-s-column-10 {
  align-items: flex-start;
  display: flex;
  padding: 0px 236.03px 0px 95px;
  position: relative;
  width: 412.03px;
}

.bag-div .div-s-column-11 {
  align-items: flex-start;
  display: flex;
  justify-content: flex-end;
  padding: 0px 0.26px 0px 179.6px;
  position: relative;
  width: 221.86px;
}

.bag-div .div-s-row-6 {
  align-items: flex-start;
  display: flex;
  left: 0;
  padding: 0px 1.53e-5px 0px 0px;
  position: absolute;
  top: 50px;
  width: 634px;
}

.bag-div .div-s-column-12 {
  align-items: flex-start;
  display: flex;
  padding: 0px 261.03px 0px 95px;
  position: relative;
  width: 412.03px;
}

.bag-div .text-wrapper-5 {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.09px;
  line-height: 15px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.bag-div .div-s-column-13 {
  align-items: flex-start;
  display: flex;
  justify-content: flex-end;
  padding: 0px 0px 0px 155.88px;
  position: relative;
  width: 221.86px;
}

.bag-div .text-wrapper-6 {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.09px;
  line-height: 15px;
  margin-left: -0.02px;
  margin-top: -1px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.bag-div .div-s-column-14 {
  height: 1px;
  position: relative;
  width: 154px;
}

.bag-div .div-hd-f-wrapper {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-right: -51.89px;
  padding: 0px 0px 30px;
  position: relative;
  width: 320px;
}

.bag-div .div-hd-f {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 320px;
}

.bag-div .div-cart-logout {
  height: 74.91px;
  position: relative;
  width: 320px;
}

.bag-div .logged-in-as {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 15px;
  left: 0;
  letter-spacing: 0.09px;
  line-height: 15px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.bag-div .overlap-group {
  height: 30px;
  left: 0;
  position: absolute;
  top: 24px;
  width: 208px;
}

.bag-div .text-wrapper-7 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 15px;
  left: 0;
  letter-spacing: 0.09px;
  line-height: 15px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.bag-div .text-wrapper-8 {
  color: #888888;
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 15px;
  left: 0;
  letter-spacing: 0.09px;
  line-height: 15px;
  position: absolute;
  top: 15px;
  white-space: nowrap;
}

.bag-div .link-sign-in-as {
  color: #888888;
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 15px;
  left: 95px;
  letter-spacing: 0.09px;
  line-height: 15px;
  position: absolute;
  text-decoration: underline;
  top: 15px;
  white-space: nowrap;
}

.bag-div .button {
  align-items: center;
  background-color: #000000;
  border: 1px solid;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  min-height: 35px;
  padding: 11.01px 93.1px 10.99px 93.07px;
  position: relative;
  width: 320px;
}

.bag-div .proceed-to-checkout-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 0px 4.83px 0px 5px;
  position: relative;
}

.bag-div .proceed-to-checkout {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.09px;
  line-height: 15px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}
