.main {
  align-items: flex-start;
  background-color: #ffffff;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 563px;
  position: relative;
}

.main .heading-register {
  color: #111111;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 30px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.main .div-content {
  align-items: flex-start;
  background-color: #ffffff;
  display: flex;
  height: 533px;
  padding: 24px 0px 48px;
  position: relative;
  width: 480px;
}

.main .form {
  height: 509px;
  margin-bottom: -48px;
  position: relative;
  width: 480px;
}

.main .div {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  left: 0;
  position: absolute;
  top: -1px;
  width: 480px;
}

.main .label-email-address {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 18px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.main .input {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #cbcbcb;
  border-radius: 2px;
  height: 40px;
  position: relative;
  width: 480px;
}

.main .div-2 {
  height: 507px;
  left: 0;
  position: absolute;
  top: 86px;
  width: 480px;
}

.main .div-validatedfield {
  height: 102px;
  left: 0;
  position: absolute;
  top: 0;
  width: 480px;
}

.main .label-password {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 11px;
  font-weight: 400;
  height: 18px;
  left: 0;
  letter-spacing: 0.2px;
  line-height: 18px;
  position: absolute;
  top: -2px;
  white-space: nowrap;
}

.main .div-passwordinput {
  align-items: flex-start;
  display: flex;
  left: 0;
  position: absolute;
  top: 22px;
  width: 480px;
}

.main .div-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  left: 0;
  position: absolute;
  top: 188px;
  width: 480px;
}

.main .label-last-name {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 18px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.main .div-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  left: 0;
  position: absolute;
  top: 102px;
  width: 480px;
}

.main .button {
  align-items: flex-start;
  background-color: #111111;
  border: 1px solid;
  border-radius: 2px;
  display: flex;
  left: 0;
  padding: 7px 199.34px 9px 198.66px;
  position: absolute;
  top: 274px;
  width: 480px;
}

.main .text-wrapper {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.main .footer {
  align-items: center;
  background-color: transparent;
  border-bottom-style: none;
  border-color: #e5e5e5;
  border-left-style: none;
  border-right-style: none;
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  left: 0;
  padding: 25px 0px 0px;
  position: absolute;
  top: 312px;
  width: 480px;
}

.main .text-wrapper-2 {
  color: #111111;
  font-family: "Inter-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.main .link {
  align-items: flex-start;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #111111;
  border-radius: 2px;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 7px 220.42px 9px 220.58px;
  position: relative;
  width: 480px;
}

.main .text-wrapper-3 {
  color: #111111;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}
.main {
  align-items: flex-start;
  background-color: #ffffff;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 563px;
  position: relative;
}

.main .heading-register {
  color: #111111;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 30px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.main .div-content {
  align-items: flex-start;
  background-color: #ffffff;
  display: flex;
  height: 533px;
  padding: 24px 0px 48px;
  position: relative;
  width: 480px;
}

.main .form {
  height: 509px;
  margin-bottom: -48px;
  position: relative;
  width: 480px;
}

.main .div {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  left: 0;
  position: absolute;
  top: -1px;
  width: 480px;
}

.main .label-email-address {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 18px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.main .input {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #cbcbcb;
  border-radius: 2px;
  height: 40px;
  position: relative;
  width: 480px;
}

.main .div-2 {
  height: 507px;
  left: 0;
  position: absolute;
  top: 86px;
  width: 480px;
}

.main .div-validatedfield {
  height: 102px;
  left: 0;
  position: absolute;
  top: 0;
  width: 480px;
}

.main .label-password {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 11px;
  font-weight: 400;
  height: 18px;
  left: 0;
  letter-spacing: 0.2px;
  line-height: 18px;
  position: absolute;
  top: -2px;
  white-space: nowrap;
}

.main .div-passwordinput {
  align-items: flex-start;
  display: flex;
  left: 0;
  position: absolute;
  top: 22px;
  width: 480px;
}

.main .div-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  left: 0;
  position: absolute;
  top: 188px;
  width: 480px;
}

.main .label-last-name {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 18px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.main .div-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  left: 0;
  position: absolute;
  top: 102px;
  width: 480px;
}

.main .button {
  align-items: flex-start;
  background-color: #111111;
  border: 1px solid;
  border-radius: 2px;
  display: flex;
  left: 0;
  padding: 7px 199.34px 9px 198.66px;
  position: absolute;
  top: 274px;
  width: 480px;
}

.main .text-wrapper {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.main .footer {
  align-items: center;
  background-color: transparent;
  border-bottom-style: none;
  border-color: #e5e5e5;
  border-left-style: none;
  border-right-style: none;
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  left: 0;
  padding: 25px 0px 0px;
  position: absolute;
  top: 312px;
  width: 480px;
}

.main .text-wrapper-2 {
  color: #111111;
  font-family: "Inter-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.main .link {
  align-items: flex-start;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #111111;
  border-radius: 2px;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 7px 220.42px 9px 220.58px;
  position: relative;
  width: 480px;
}

.main .text-wrapper-3 {
  color: #111111;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}
