

.wishListContainer{

   width: 99%;
   margin: 0 auto;
    display: grid;
    margin-top: 3em;
    grid-template-columns: repeat(4,1fr);
 
    gap: 20px;
}


@media (max-width: 1200px){
    .wishListContainer{
        grid-template-columns: repeat(3,1fr);
    }
}


@media (max-width:530px){ 

.wishListContainer{
    grid-template-columns: repeat(2,1fr);
}
}