.accountManagementContainer{
  position: relative;
 
  width: 70%;
  margin:0 auto;
  border: 1px solid black;
  max-width: 800px;
  margin-top: 3em;
  height:fit-content;

}


.accountInfoLabel{
  text-align: center;
  margin: 0;
  margin-top:12px;
}



.accountInformation, .passWordDetails, .shippingAddress, .categoryChoice{
  
  padding:10px;
}
.fieldLabel{
 margin-bottom:0.5em;
}

.accountInput{
width: 100%;
 font-size: 1.3rem;
}

.sectionLabels{
  margin-bottom: 0.5em;
}


.categoryImage {
  display: flex;
  justify-content: space-around;
}

.imageRadioWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.accountManagementContainer img{
  width: 220px;
  height: 200px;
}


.editbtn{
  width: 70px;
  height: 25px;
  font-size: 1.2rem;
  color: white;
  background-color: black;
  border: none;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.submitDiv{
  width: 100%;
   display:flex;
   margin-top: 10px;
   align-items: center;
   justify-content:center;
 
 }
 .updateBtn{
   font-size:1.3rem;
   width:180px;
   height:40px;
   background-color: black;
   color:white;
   cursor: pointer;
 }


@media  (max-width: 772px) {
  .accountManagementContainer{ 
    border: 1px solid black;
    width: 85%;
  }

  .categoryImage {
    display: block;
  }
 .accountManagementContainer img{
    width: 150px;
    height: 120px;
  }
  .imageRadioWrapper {
    margin-bottom: 20px; 
  }
}



@media  (max-width: 500px){
  .accountManagementContainer{ 
    width: 90%;
  }
}