.shopNowContainer{
    border: 1px solid black;
    width: 95%;
    margin: 0 auto;
}

.shopNowTitle{
    border: 1px solid;
    display: flex;
    height: 35px;
    align-items: center;
    justify-content: center;
}

.shopNowsubTitle{
    border: 1px solid;
    display: flex;
  
    align-items: center;
    justify-content: center;
}


.shopNowItems{
   
    display: grid;
    grid-template-columns: repeat(3,1fr);
}


@media (max-width:550px){
    .shopNowItems{
        
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width:390px){
    .shopNowItems{
        
        grid-template-columns: repeat(1,1fr);
    }
}