.ParentDiv{
  border: 1px solid red;
  display: flex;
  gap: 60px;
  width: 100%;
}
.catagoriesContent{
  margin-top: 2.3em;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 0px;
  height: fit-content;
}
.AllFilterContainer{
  margin-top: 2.3em;
width: 20%;
}
.topSub{
  width: 100%;
    max-width: 230px;
    display: flex;
    flex-direction: column;
    padding-bottom:2em ;
    margin-left: 1.5em;
    border-top: 1px solid black;
}
.topTitles{
  margin-bottom: 0.4em;
  margin-top: 0.2em;
}

.catagoriesSelection ul{
list-style: none;
display: flex;
flex-direction: column;
font-size: 1.13rem;
gap: 20px;
cursor: pointer;
}
.selectedCatagory {
  display: inline-block;
  border-bottom: 2px solid darkred;
  width: fit-content;
  transition: border-bottom-color 0.3s ease-in-out; 
  color: darkRed;

}
.FilterSection{
  width: 100%;
  max-width: 230px;
  display: flex;
  flex-direction: column;
  padding-bottom:2em ;
  margin-left: 1.5em;
  

}
.inputSearchField{

  position: relative;
 width: 100%;
}
.searchImg{
  position: absolute;
  top: 1em;
  left: 0.5em;
}
.inputSearchField input{
  width: 100%;

text-align: center;
margin-top: 0.6em;
height: 34px;
}


.bottomContainer {
    width: 100%;
    max-width: 230px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding-top:2em ;
    padding-bottom:2em ;
    margin-left: 1.5em;
  }
  
  .BrandSelection {

    display: flex;
    align-items: center;
    padding: 8px;

    font-size: 1.13rem;
  }
  
  .brandsLabel {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
  }
  
  .brandsLabel input[type='checkbox'] {
    cursor: pointer;
    margin-right: 8px;
    margin-top: 8px;
    width: 20px; 
    height: 20px;
  }


  .BrandTitle{
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 0.4em;
  }
/*  Colors section*/

.colorsIcon {
    width: 34px;
    height: 30px;
    border-radius: 30px;
    cursor: pointer;
    margin-right: 0.5em;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}


  /* Keep the rest of your styling as needed */
  

.active {
  background-color: #1e293b;
 color: white;
}
