

.bagItems{
    position: absolute;
    width: 400px;
    height: 440px;
    background-color: white;
    right: 1.4em;
    top: 4em;
    border: 1px solid black;

    z-index: 4;
}

.checkOutItems{
    position: relative;
    width: 80%;
    height: 570px;
    border: 1px solid black;
    margin: 0 auto;
}
.item-container{
    width: 100%;
   margin: 0 auto;
    height: 78%;
    border-bottom: 1px solid black;
   

    display: flex;
    flex-direction: column;
    overflow: scroll;
    scrollbar-width:thin;
    gap: 15px;
}

.checkoutItemContainer{
    height: 92%;
}

.items{
 
    background-color: white;
   
    display: flex;
 
  width: 100%;
  height: 120px;
  border-bottom: 1px solid black ;


   
}
.checkOutItemDiv{
    height: 183px;
}

.cartItemImage img{
   width: 100%;
    height: 100%;
 
}

.cartDescription{
   
position: relative;
width: 50%;
}
.cartDescription img {
    width: 30px;
    height:20px ;
    cursor: pointer;
    position: absolute;
}
.quantity{
    margin-left: 2.4em;
    
    padding: 4px;
}
.price{
    margin-left: 2.4em;
}
.plusIcon{
    margin-left: 0.4em;
}
.items h2{
    font-size: 17px;
}


.controlQuantity{
    font-size: 38px;
}
.cartItemImage{
    width: 30% ;
    border-right: 1px solid black;

    }
.checkOutCartImage{
width: 20%; 
height: 180px;   

}
.checkOutCartImage img{
    width: 100%;
    height: 100%;
}

.emptyBag{
  
    width: 80%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkoutBtn, .paymentbtn{
    position: absolute;
    background-color:  black;
    color: white;
    width: 200px;
    padding: 7px;
    font-size: 1.2rem;
    cursor: pointer;
    bottom: 0;
    left: 5em;
border-top: 1px solid black;
}


.paymentbtn{
    left:  21em;
padding: 10px;
}
.totalPrice{
    position: absolute;
    bottom: 10%;
    left: 7.8em;
    border: 1px solid black;

    padding: 5px;
}


@media (max-width:830px){
    .bagItems{
        right: 0;
        width:300px
    }

    .checkoutBtn{
        left: 3em;

    }

    .totalPrice{
        left: 5.5em;
    }

}
