

.bagItems{
    position: absolute;
    width: 300px;
    height: 340px;
    background-color: white;
    right: 1.4em;
    top: 4em;
    border: 1px solid black;

    z-index: 2;
}

.items{
 
    background-color: white;
  
   
}

.item-container{
    width: 90%;
   margin: 0 auto;
    height: 87%;
    border-bottom: 1px solid black;


    display: flex;
    flex-direction: column;
    overflow: scroll;
    scrollbar-width:thin;
    gap: 15px;
}

.emptyBag{
  
    width: 80%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkoutBtn{
    position: absolute;
    background-color:  #036bfc;
    width: 200px;
    padding: 7px;
    font-size: 1.2rem;
    cursor: pointer;
    bottom: 0;
    left: 51px;
}


@media (max-width:830px){
    .bagItems{
        right: 0;
    }
}
